# Environment
.env

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/

# Virtual environment
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Data
data/raw/*
data/processed/*

# Logs
*.log